
.survey{
    border-style: dashed;
    border-color: yellow;
    border-width:1vh;
    border-radius:3em;
    background-color: rgb(201, 229, 235);
    margin-top: auto;
    margin-left: 2cm;
    margin-right: 2cm;
    padding-top: 1cm;
    padding-right: 1cm;
    padding-bottom: 40Q;
    padding-left: 10mm;
    padding: 1cm;
    position: relative;
    left:20px;
}
#Things{
    Margin: 0.5cm 1cm 0.5cm 1cm;
    padding: 10px 15px 10px 15px;
}

img,video{
    width: 1000px;
    position:sticky;
    left: 3cm;
    display: block;
}
a[href*="#"]{
    font-family: 'Roboto', sans-serif;
}

nav{
    color: black;
    text-decoration: underline dashed blueviolet;
    text-align: start;
}
button:hover{
    background-color:indigo;
    width: 980px;
    height: 25px;
    min-width: 56px;
    max-width: 1000px;
}
button:active{
    background-color: silver;
    display: none;
}
.survey .form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

footer{
    display: grid;
    align-content: space-evenly;
    justify-content: end;
    align-items: end;
}
footer > #noshowing{
    display:none;
}

@media (min-aspect-ratio: 16/9) {
    footer{
        background-color: red;
    }
}

body{
    size: A4;
}
h2 + label{
    background-color: yellow;
}
input ~ label{
    font-family: 'Roboto', sans-serif;
    background-color: aqua;
}